services:
  postgres:
    image: postgres:16.4-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      PGUSER: postgres
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --locale=C"
      TZ: Asia/Tokyo
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h localhost" ]
      interval: 3s
      retries: 5
      start_period: 30s
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    networks:
      default:

  mysql:
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: txoutbox
      TZ: Asia/Tokyo
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
      - ./mysql:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -ppassword"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      default:

  localstack:
    image: localstack/localstack:4.10.0
    ports:
      - "127.0.0.1:4566:4566"
      - "127.0.0.1:4510-4559:4510-4559"
    environment:
      - SERVICES=sqs
    volumes:
      - ./localstack/volume:/var/lib/localstack
      - ./localstack/init.sh:/etc/localstack/init/ready.d/init.sh
      - /var/run/docker.sock:/var/run/docker.sock
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4566/_localstack/health" ]
    networks:
      default:
        ipv4_address: 10.0.2.20

networks:
  default:
    ipam:
      config:
        - subnet: 10.0.2.0/24

volumes:
  postgres:
  mysql:
