name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  test:
    services:
      postgres:
        image: postgres:16.4-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
          TZ: Asia/Tokyo
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      mysql:
        image: mysql:8.4
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: txoutbox
          TZ: Asia/Tokyo
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping -h localhost -ppassword"
          --health-interval 10s --health-timeout 5s --health-retries 10

    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.4"

      - name: Install dependencies
        run: |
          go mod tidy
          
          if [[ $(git status --porcelain) ]]; then
            echo "Error: There are uncommitted changes in the working directory after dependency install."
            git diff
            exit 1
          fi

      - name: Format
        run: |
          make fmt

          if [[ $(git status --porcelain) ]]; then
            echo "Error: There are uncommitted changes in the working directory after generation."
            git diff
            exit 1
          fi

      - name: Lint
        run: make lint

      - name: Run postgres init script
        run: PGPASSWORD=password psql -h localhost -p 5432 -U postgres -d postgres -f ./postgres/init.sql

      - name: Run mysql init script
        run: mysql -h 127.0.0.1 -P 3306 -uroot -ppassword < ./mysql/init.sql

      - name: Test
        run: make test
